---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { Icon } from "astro-icon/components";
import { t } from "@util/translate";

const today = new Date();
let about = await getEntry("config", "about");
let contact = await getEntry("config", "contact");
let navigation = await getEntry("config", "navigation");

---

<footer class="surface-footer grid grid-cols-1 gap-8 py-8">
  <div class="container-xl flex flex-wrap gap-4">
    {
      navigation.data.footer_menus &&
        navigation.data.footer_menus.map((menu) => (
          <div class="min-w-[10rem] space-y-3 sm:max-w-[14rem]">
            <div class="text-sm font-semibold">{menu.label}</div>
            <div class="grid grid-cols-1 gap-0.5 space-y-1 text-xs">
              {menu.links.map((link) => (
                <a
                  rel="noopener noreferrer"
                  href={link.href}
                  class="btn-replace mr-auto"
                  data-replace={link.label}
                >
                  <span>{link.label}</span>
                </a>
              ))}
            </div>
          </div>
        ))
    }

  
  </div>
  <div class="container-xl mb-4 flex items-end justify-between gap-4">
    <div class="grid grid-cols-1 gap-4">
      <a rel="noopener noreferrer" href="#" aria-label={t("back_to_home")}   class="flex h-full items-center justify-start font-bold"
>
        ORGÁNICOS LA COMARCA SAS BIC
      </a>

      {
        about.data.footer_text && (
          <div
            class="balance max-w-sm pr-4 text-sm opacity-70"
            set:html={marked.parse(about.data.footer_text)}
          />
        )
      }
      {
        contact.data.social && (
          <div class="-ml-1 flex flex-wrap justify-start gap-2 ">
            {contact.data.social.map((link) => (
              <a
                href={link.href}
                class="grid h-full place-items-center transition-transform duration-500 hover:scale-110 "
                target="_blank"
                aria-label={link.label}
              >
                <Icon name={link.icon} class="h-5 w-5" />
              </a>
            ))}
          </div>
        )
      }
      <div class="mt-auto flex gap-2 pt-4 text-xs opacity-70">
        <span>&copy;{today.getFullYear()}</span>
        <span> {about.data.sitename}</span>
      </div>
    </div>
  </div>
</footer>

<slot />
